<app-header />

<main>
  <ul id="users">
    <!-- <li>
      <app-user [id]="users[0].id" [avatar]="users[0].avatar" [name]="users[0].name" (select)="onSelectUser($event)"/>
    </li>
    <li>
      <app-user [id]="users[1].id" [avatar]="users[1].avatar" [name]="users[1].name" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [id]="users[2].id" [avatar]="users[2].avatar" [name]="users[2].name" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [id]="users[3].id" [avatar]="users[3].avatar" [name]="users[3].name" (select)="onSelectUser($event)" />
    </li> -->

    <!-- when using user object to access the value. -->
    <!-- <li>
      <app-user [user]="users[0]" (select)="onSelectUser($event)"/>
    </li>
    <li>
      <app-user [user]="users[1]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[2]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[3]" (select)="onSelectUser($event)" />
    </li>  -->
    <!-- using for to handle dynamic value after angular 17 -->
    @for(user of users; track user.id){
      <li>
        <app-user [user]="user" (select)="onSelectUser($event)"/>
      </li>
    }
    <!-- before angular 17 -->
    <!-- <li *ngFor="let user of users">
      <app-user [user]="user"(select)="onSelectUser($event)"/>
    </li> -->
  </ul>
    <!-- <app-task [name]="selectedUser?.name"/> -->
    @if (selectedUser){
      <app-task [name] = "selectedUser.name"/>
    } @else{
      <p id="fallback">Select a user to see their tasks!</p>
    }

    <!-- before angular 17 -->
    <!-- <app-task *ngIf="selectedUser; else fallback" [name]="selectedUser!.name"/>
    <ng-template #fallback>
      <p id ="fallback">Select a user to see their tasks!</p>
    </ng-template> -->
</main>